node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

.DS_Store
tests/.DS_Store
.idea/
/allure-results/
/tests-examples/
/reports/
.env

des-help
playwright.config.reena.ts